*{

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}
/***********************************************/
/*Apartado del menú*/

.menu{
    background-color: #d90200;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/********************************************/
.container_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 90%;
}

/*Párrafo del Logo*/

.logo{

    margin-left: 20px;
    color: #fff;
    font-weight: 900;
    font-size: 174%;
    letter-spacing: 2px;
}

/*Contenedor de las Listas*/

ul{
    display: flex;
    justify-content: space-between;
    /*background: #fff;*/
    width: 40%;
    margin-right: 20px;
}

/*Listado de apartados*/

li{
    /*color: white; */
    /* background: brown; */
    /* text-align: center; */
    display: flex;
    /* border-radius: 10px; */
    width: 32%;
    /* margin-inline: 26px; */
    /* justify-content: center; */
    padding: -29px;
    /* letter-spacing: 3px; */
    /* font-weight: bold; */
    /* background-color: black; */
    /* cursor: pointer;*/
}

li a:hover{

    background-color: #fff;
    color: #1b1b1b;
    transition: .3s;
}

li a{
    color: white;
    text-align: center;
    border-radius: 10px;
    /* height: 25%; */
    /* width: 28%; */
    margin-inline: 47px;
    justify-content: center;
    /* padding: 10px; */
    letter-spacing: 3px;
    padding: 18px;
    font-weight: bold;
    background: rgb(27, 27, 27);
    cursor: pointer;
    text-decoration: none;
}


/************************************/
/*Container de la Imagen del Logo*/
.container_img{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 80;
}

/*Logo del Menú*/
.img_logo{

    width: 85%;
    height: 90%;
    display: flex;
}

/**********************************/
/*Container Contenido - Fondo*/

.fondo{

    width: 100%;
    height: 100%;

}

.fondo_about{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    opacity: 0.5;
}



.img_lateral{

    background: #0a1019;
    margin-top: 5%;
    margin-left: 1%;
    width: 18%;
    padding: 3%;
    border-radius: 50px;
    height: 65%;
    position: absolute;
    z-index: 1;

}
/********************************/
/*Contenido del Blog*/


.contenido{
    position: absolute;
    z-index: 2;
    width: 75%;
    height: 35%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 7%;
}

.p_contenido{
    color: #fff;
    font-size: 174%;
    letter-spacing: 2px;
    font-weight: 900;
    height: 92%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    /* padding: 21px;*/
}

.p_contenido_dos{
    width: 100%;
    z-index: 3;
    display: flex;
    height: 96%;
    width: 64%;
    color: #1b1b1b;
    justify-self: center;
    font-weight: 600;
    font-size: x-large;
    text-align: justify;
}


/*********************************/
.container_footer{
    background-color:white;
    width: 100%;
    height:5%;
}

.fotter_pag{
    background-color: #1B1B1B;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fotter_pag p{
    color: #fff;
    font-size: medium;
    font-stretch: semi-expanded;
}